.idea
/target

*.flattened-pom.xml
*.log

server/application-module/target
server/web-module/target
server/database-module/target
server/database-module/src/main/resources/sql/load.sql
server/mail-module/target
server/payment-module/target

server/common-sources/logger/target
server/common-sources/exception-converter/target

clients/
/db-transfer/target/
/db-transfer/HealthyEat/
